[color]
    ui = auto

[user]
    name = Daniel Nephin
    email = dnephin@gmail.com

[push]
    default = current

[advice]
    statusHints = false
[core]
	excludesfile = /home/daniel/.gitignore.global
	pager = less -x1,5
[alias]
	st = status
    co = checkout
    cano = commit --amend --no-edit
    cp = cherry-pick
    brnew = branch --sort=-committerdate
[http]
	cookiefile = /home/daniel/.gitcookies
[rebase]
	autosquash = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[rerere]
	enabled = true

[init]
	defaultBranch = main
