

# Ignore all non-dot files
*
!.*

# Ignore swap, lock, and log files
.*.lock
.*.swp
*~
.xsession-errors

# Ignore files with passwords
.pypirc
.ssh/
.bitcoin/

# Ignore history files
/.*_history
.lesshst
.viminfo

# Ignore misc
/.goutputstream-*
