[color]
    ui = auto

[user]
    name = Daniel Nephin
    email = dnephin@gmail.com

[push]
    default = current

[advice]
    statusHints = false
[core]
	excludesfile = /home/daniel/.gitignore.global
