

# Ignore all non-dot files
/*
!.*

# Ignore swap, lock, and log files
.*.lock
.*.swp
*~
.xsession-errors
.cache

# Ignore files with passwords
.pypirc
.ssh/
.bitcoin/
.netrc
.purple/*

# Ignore history files
/.*_history
.lesshst
.viminfo
.vim/view/

# Ignore misc
/.goutputstream-*

.gitcookies
.xprofile_local
