#!/usr/bin/env bash
#
# Set keyboard repeat rate
xset r rate 200 60

# Disable keypad clicks while typing
if command -v syndaemon > /dev/null; then
    pkill -f syndaemon
    syndaemon -t -k -i 0.4 -d
fi

[ -f .xprofile_local ] && source .xprofile_local
