# Set keyboard repeat rate
xset r rate 200 60

# Disable keypad clicks while typing
if command -v syndaemon > /dev/null; then
    pkill -f syndaemon
    syndaemon -t -k -i 0.4 -d
fi

if xrandr --listmonitors | grep DVI-I-1 > /dev/null; then
    xrandr --output DVI-I-1 --auto --left-of HDMI-1
fi
